@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root 
{
    --clr-primary-1: #2f3e46;
    --clr-primary-2: #354f52;
    --clr-primary-3: #52796f;
    --clr-primary-4: #84a98c;
    --clr-primary-5: #cad2c5;
    --clr-grey-1: #102a42;
    --clr-grey-2: #617d98;
    --clr-grey-3: rgb(241, 245, 248);
    --clr-white: #fff;
    --ff-primary: "Poppins", sans-serif;
    --transition: all 0.3s linear;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
}

*, ::after, ::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{
    font-family: var(--ff-primary);
    direction: ltr;
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875;
}

ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}

img
{
    width: 100%;
    display: block;
}

h1, h2, h3, h4
{
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1
{
    font-size: 3rem;
}

h2
{
    font-size: 2rem;
}

h3
{
    font-size: 1.25rem;
}

h4
{
    font-size: 0.875rem;
}

p
{
    margin-bottom: 1.25rem;
    color: var(--clr-grey-2);
}

@media screen and (min-width: 800px) 
{
    h1
    {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*  global classes */

.bg-grey
{
    background: var(--clr-grey-3);
}

.btn 
{
    background: var(--clr-primary-2);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    font-family: var(--ff-primary);
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover 
{
    color: var(--clr-primary-1);
    background: var(--clr-primary-3);
}

.section
{
    padding: 5rem 0;
}

.section-center 
{
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

.section-title
{
    margin-bottom: 4rem;
    text-align: center;
}

.underline 
{
    width: 5rem;
    height: 0.25rem;
    background: var(--clr-primary-2);
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 992px) 
{
    .section-center 
    {
        width: 95vw;
    }
}

/*====== Navbar ======*/

.nav
{
    background: var(--clr-primary-5);
    height: 4.5rem;
    padding: 1rem;
    transition: var(--transition);
    z-index: 3;
}

.nav-links
{
    display: none;
    /* background: var(--clr-primary-5);
    height: 4.5rem;
    padding: 1rem; */
}

.nav-center
{
    width: 100%;
    max-width: var(--max-with);
    margin: 0 auto;
}

.nav-header
{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.nav-header h3
{
    font-size: 1.75rem;
}

.nav-btn
{
    justify-self: end;
    background: transparent;
    border-color: transparent;
    color: var(--clr--primary-2);
    font-size: 2rem;
    cursor: pointer;   
}

.navbar-fixed
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
}

.dark-mode {
    --clr-primary-1: #e0e5e9;
    --clr-primary-2: #94a3b8;
    --clr-primary-3: #64748b;
    --clr-primary-4: #475569;
    --clr-primary-5: #1e293b;

    --clr-grey-1: #f1f5f9;
    --clr-grey-2: #e2e8f0;
    --clr-grey-3: #334155;

    --clr-white: #0f172a;
    background: var(--clr-white);
    color: var(--clr-grey-1);
}

.theme-toggle {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 1rem;
    color: var(--clr-grey-1);
    transition: 0.3s;
}

.theme-toggle:hover {
    color: var(--clr-primary-4);
}

@media screen and (min-width: 768px)
{
    .nav-btn
    {
        display: none;
    }

    .nav-links
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        -moz-column-gap: 2rem;
             column-gap: 2rem;
        justify-items: center;
        justify-self: end;
    }

    .nav-links a 
    {
        color: var(--clr-grey-1);
        transition: var(--transition);
    }

    .nav-links a:hover {
        color: var(--clr-primary-4);
    }

    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
}

/*====== Sidebar ======*/

.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-grey-3);
    z-index: 4;
    display: grid;
    /* justify-content: center;
    align-items: center; */
    place-content: center;
    transform: translateX(100%);
    transition: var(--transition);
}

.show-sidebar
{
    transform: translateX(0);
}

.close-btn 
{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    background: transparent;
    border: transparent;
    color: #bb2525;
    cursor: pointer;
    transition: var(--transition);
}

.close-btn:hover 
{
    color: #e66b6b;
}

.sidebar-links 
{
    text-align: center;
}

.sidebar-links a 
{
    font-size: 1.5rem;
    color: var(--clr-grey-2);
    display: inline-block;
    margin-bottom: 1.5rem;
}

.sidebar-links a:hover 
{
    color: var(--clr-primary-4);
}

.social-icons 
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    margin-top: 3rem;
}

.social-icon 
{
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    transition: var(--transition);
}

.social-icon:hover 
{
    color: var(--clr-primary-4);
}

/*====== Hero ======*/

.hero
{
    /* height: 130vh; */
    background: var(--clr-primary-5);
} 

.hero-center
{
    min-height: calc(100vh - 4.5rem);
    display: grid;
    place-items: center;
}

.hero .underline
{
    width: 180px;       /* make line longer */
    height: 4px;       /* thickness */ 
    margin: 0;         /* remove centering margins */
    margin-bottom: 1rem;
}


.hero-img
{
    display: none;
}

.hero-info h4
{
    color: var(--clr-grey-2);
    margin-top: 2rem;
}

.hero-btn
{
    margin-top: 1.25rem;
}

.hero-icons
{
    justify-items: start;
}

@media screen and (min-width: 992px) 
{
    /* .section-center 
    {
        width: 95vw;
    } */

    .hero-img
    {
        display: block;
        position: relative;
    }

    .hero-center
    {
        grid-template-columns: 1fr 1fr;
    }

    .hero-photo
    {
        max-width: 25rem;
        max-height: 30rem;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: var(--radius);
        position: relative;
    }

    .hero-img::before, .about-img::before
    {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0.25rem solid var(--clr-primary-2);
        border-radius: var(--radius);
        top: 2rem;
        right: -2rem;
    }
}

/*====== About ======*/

.about-center
{
    display: grid;
    gap: 3rem;
}

/* .about-center .btn
{
    margin-top: -55px;
    width: 84px;
    height: 37px;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
    text-align: center;
} */

.about-photo
{
    max-width: 25rem;
    max-height: 30rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: var(--radius);
    position: relative;
}

.about-img
{
    justify-self: center;
}

.about-title
{
    /* text-align: right; */
    margin-bottom: 2rem;
}

.about-title .underline
{
    width: 120px;      
    height: 4px;       
    margin: 0;         
    margin-bottom: 1rem;
}

@media screen and (min-width: 992px)
{
    .about-center
    {
        grid-template-columns: 1fr 1fr;
    }

    .about-img
    {
        position: relative;
    }

    .about-info
    {
        align-self: center;
    }
}

/*====== Services ======*/

.service
{
    background: var(--clr-white);
    padding: 3rem 1.5rem;
    border-radius: var(--radius);
    text-align: center;
    margin-bottom: 2rem;
    transition: var(--transition);
}

.service:hover
{
    background: var(--clr-primary-2);
    color: var(--clr-white);
}

.service p
{
    transition: var(--transition);
}

.service:hover p
{
    color: var(--clr-white);
}

.service .underline
{
    width: 5rem;
    height: 0.12rem;
    transition: var(--transition);
}

.service:hover .underline
{
    background: var(--clr-white);
}

@media screen and (min-width: 676px)
{
    .services-center
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -moz-column-gap: 2rem;
             column-gap: 2rem;
    }
}

@media screen and (min-width: 992px)
{
    .services-center
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*====== Projects ======*/

.section-title .underline
{
    width: 120px;
}

.projects-text
{
    width: 85vw;
    max-width: 30rem;
    margin: 0 auto;
}

.project
{
    border-radius: var(--radius);
    background: var(--clr-primary-2);
    position: relative;
    margin-bottom: 2rem;
}

.project-info
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-white);
    opacity: 0;
    transition: var(--transition);
}

.project-info p
{
    color: var(--clr-white);
}

.project:hover .project-info
{
    opacity: 1;
}

.project-img
{
    border-radius: var(--radius);
    transition: var(--transition);
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
}

.project:hover .project-img
{
    opacity: 0.1;
}

.project::after
{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-white);
    border-radius: var(--radius);
    transition: var(--transition);
    opacity: 0;
}

.project:hover::after
{
    opacity: 1;
    transform: scale(0.8);
}

@media screen and (min-width: 676px)
{
    .projects-center
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -moz-column-gap: 2rem;
             column-gap: 2rem;
    }
}

@media screen and (min-width: 992px)
{
    .projects-center
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1170px)
{
    .projects-center
    {
        grid-template-rows: 200px 200px;
        gap: 1rem;
        grid-template-areas:
        "a b b"
        "a c d";
    }

    .project
    {
        height: 100%;
    }

    .project-img
    {
        height: 100%;
    }

    .project-1
    {
        grid-area: a;
    }

    .project-2
    {
        grid-area: b;
    }

    .project-3
    {
        grid-area: c;
    }

    .project-4
    {
        grid-area: d;
    }
}

/*====== Contact ======*/

.contact
{
    min-height: 40rem;
    position: relative;
    display: grid;
    place-items: center;
    padding: 10rem 0 5rem 0;
    margin: 5rem 0;

    -webkit-clip-path: polygon(
        49% 0%,
        50% 0%,
        100% 30%,
        100% 70%,
        51% 100%,
        47% 99%,
        0% 70%,
        0% 30%
    );

    clip-path: polygon(49% 0, 50% 0, 100% 30%, 100% 70%, 51% 100%, 47% 99%, 0% 70%, 0% 30%); 
}

.contact::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-white);
    opacity: 0.7;
    z-index: -1;
}

.video-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -2;
}

.video-banner
{
    background: var(--clr-primary-5);
    text-align: center;
    padding: 3rem 5rem 12rem 5rem;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.video-banner .underline
{
    width: 220px;
}

.video-text
{
    max-width: 30rem;
}

#contact-icons {
    scroll-margin-top: 80px;
}

/*====== Skills ======*/

.section-skills .underline
{
    width: 70px;
} 

.skills
{
    background: var(--clr-primary-4);
}

.skills h3 
{
    color: var(--clr-primary-1);
    margin: 1.5rem 0;
}

.skill
{
    margin-bottom: 1.5rem;
}

.skill p
{
    color: var(--clr-primary-1);
    margin: 0.5rem 0;
}

.skill-container
{
    background: var(--clr-white);
    height: 1rem;
    width: 100%;
    border-radius: var(--radius);
    position: relative;
}

.skill-value
{
    position: absolute;
    top: 0;
    left: 0;
    background: var(--clr-primary-2);
    height: 100%;
    border-radius: var(--radius);
}

.value-50
{
    width: 50%;
}

.value-87
{
    width: 87%;
}

.value-90
{
    width: 90%;
}

.value-93
{
    width: 93%;
}

.value-99
{
    width: 99%;
}

.skill-text {
    position: absolute;
    top: -1.8rem;
    transform: translateX(-50%);
    font-weight: bold;
    direction: ltr;
}

.skill-text-50 {
    left: 50%;
}

.skill-text-87 {
    left: 87%;
}

.skill-text-90 {
    left: 90%;
}

.skill-text-93 {
    left: 93%;
}

.skill-text-99 {
    left: 99%;
}

@media screen and (min-width: 768px)
{
    .skills-center
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -moz-column-gap: 2rem;
             column-gap: 2rem;
    }
}

/*====== Timeline ======*/

.section-timeline .underline
{
    width: 230px;
}

.timeline-center
{
    width: 80vw;
    max-width: 40rem;
}

.timeline p
{
    margin-bottom: 0;
}

.timeline-item
{
    border-top: 2px dashed var(--clr-primary-2);
    padding: 4rem 2rem;
    margin: 0;
    position: relative;
}

.timeline-item:nth-child(even)
{
    border-left: 2px dashed var(--clr-primary-2);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin-right: 2rem;
    padding-right: 0;
}

.timeline-item:nth-child(odd)
{
    border-right: 2px dashed var(--clr-primary-2);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-left: 2rem;
    padding-left: 0;
}

.timeline-item:first-child
{
    border-top: 0;
    border-top-right-radius: 0;
}

.timeline-item:last-child
{
    border-bottom-left-radius: 0;
}

.number
{
    position: absolute;
    top: 50%;
    background: var(--clr-primary-2);
    width: 2rem;
    height: 2rem;
    color: var(--clr-white);
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.timeline-item:nth-child(even) .number
{
    left: 0;
}

.timeline-item:nth-child(odd) .number
{
    right: 0;
    transform: translate(50%, -50%);
}

/*====== Blog ======*/

.section-blog .underline
{
    width: 70px;
}

.blog
{
    background: var(--clr-grey-3);
}

.card
{
    height: 27rem;
    perspective: 1500px;
    position: relative;
}

.card-side
{
    position: absolute;
    transition: all 1.4s linear;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}

.card-front
{
    background: var(--clr-white);
}

.card-back
{
    background: var(--clr-primary-5);
    transform: rotateY(180deg);
    display: grid;
    place-items: center;
}

.card:hover .card-front
{
    transform: rotateY(-180deg);
}

.card:hover .card-back
{
    transform: rotateY(0);
}

.card-front img
{
    height: 13rem;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.card-info img
{
    height: 13rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.card-footer
{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.card-footer p
{
    margin-bottom: 0;
    justify-self: end;
    color: var(--clr-primary-2);
    font-size: 00.875rem;
}

.card-footer img
{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.card-info
{
    padding-left: 1rem 1.5rem;
    padding-top: 1rem;
}

.blog-center
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 3rem 1rem;
}

#last-card
{
    margin-bottom: 5rem;
}

/*====== Footer ======*/
.footer
{
    padding-bottom: 2rem;
    background: #222;
    display: grid;
    place-items: center;
}

.footer .social-icons
{
    margin-bottom: 2rem;
}

.footer .social-icon
{
    color: var(--clr-primary-2);
}

.footer .social-icon:hover
{
    color: var(--clr-primary-5);
}

.footer p
{
    font-size: 1.25rem;
}

